<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-50">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>SM - Sports Manager</title>
</head>
<body class="h-full bg-gray-50">
  <div class="flex">
    <!-- Sidebar -->
    <%- include('../components/sidebar.ejs') %>

    <!-- Main Content -->
    <main class="flex-1 py-10 px-6 lg:pl-72">
      <div class="max-w-7xl mx-auto">
        <div class="space-y-6">
          <%- include('../components/sessionHeader.ejs') %>
          <%- include("../components/playersCards.ejs") %>
          <%- include("../components/buttonsInSession.ejs") %>
        </div>
      </div>
    </main>
  </div>  

  <!-- Mobile Navbar -->
  <%- include('../components/mobileNavbar.ejs') %> 
</body>
</html>
